<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Biometria podpisu</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="apple-touch-icon" sizes="152x152" href="../static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicons/favicon-16x16.png">
    <link rel="manifest" href="../static/favicons/site.webmanifest">
    <link rel="mask-icon" href="../static/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Online Signature Recognition">
    <meta name="application-name" content="Online Signature Recognition">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Biometria podpisu cyfrowego</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <div class="jumbotron text-center" style="padding: 1.5rem">
      <h1>Podpisz się w polu poniżej</h1>
      <p>a program spróbuje Cię zidentyfikować</p>
      <table class="table table-borderless " style="font-size: 12px; width: 40%; align-content: center; margin: auto">
        <thead>
          <tr>
            <th scope="col">Pozycja</th>
            <th scope="col">Siła nacisku</th>
            <th scope="col">Czy pisze</th>
            <th scope="col">Siła nacisku styczna</th>
            <th scope="col">Wychylenie</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="position-table">0, 0</td>
            <td id="pressure-table">0</td>
            <td id="is-down-table"> 0</td>
            <td id="tangent-pressure-table">0</td>
            <td id="tilt-table">0, 0</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container; d-flex justify-content-center">
          <div
            id="canvas-card"
            class="card"
            style="width: 1200px; height: 400px; margin-top: 1.5rem; margin-bottom: 1.5rem; touch-action: none;"
          >
            <div class="card-body">
                <canvas id="tabletDrawingArea">
                </canvas>
            </div>
          </div>
          </div>
        </div>
    </div>

    <div class="container; d-flex justify-content-center">
        <button id="check-signature" type="button" class="btn btn-dark" style="border:green;">Sprawdź podpis</button>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='canvas.js') }}"></script>
  </body>
</html>
